h1 { font-size:50px;margin-bottom:10px;font-weight:300;}
h3 { font-size:18px;margin-bottom:20px;font-weight:300;}
h2 { font-size:34px;margin-bottom:10px;font-weight:300;}
p,blockquote { font-size:19px;}
li { font-size:19px;font-weight:300;}

p,ul { margin-bottom:20px;font-weight:300;}
blockquote { margin-left:35px;font-weight:300;}

ul li ul { margin-bottom:0;margin-left:35px;font-weight:300;}

.container-blog { 
    width:80%;    
    position:relative;    
    background-color:#fff;
    margin:0 auto; 
    margin-top: 3%;   
    padding:50px;
    margin-bottom: 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 16px 48px rgba(0, 0, 0, 0.2);
  }
  
